
fibon/
nofib/
Jupyter/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Jupyter/.ipynb_checkpoints/Iterative_Results-checkpoint.ipynb
Jupyter/.ipynb_checkpoints/analysis_of_variance.ipynbZone-checkpoint.Identifier
Jupyter/.ipynb_checkpoints/analysis_of_variance-checkpoint.ipynb
Jupyter/analysis_of_variance.ipynbZone.Identifier
